.header{
	padding: 36px 0 0 73px;
	align-items: center;
	justify-content: center;
	.header-logo{
		flex:1;
	}
	.menu-header{
			li{
				display: inline-block;
				font-family: 'Montserrat Medium';
				font-size: em(16);
				flex: 1;
				margin-right: 46px;
				&:nth-last-child(1){
					margin-right: 0;
				}
				a{
					text-decoration: none;
					color: $dark-gray;
					padding: 10px;
					border: 2px solid rgba(255,255,255,0);
					transition: all .8s;
					&:hover{
						
						border: 2px solid rgba(88,87,87,1);
						
					}
				}
			}
	}
}