@import '_function';

@font-face{
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face{
    font-family: 'Montserrat ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face{
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}
.titulo {
    font-family: 'Montserrat Bold';
    font-size: em(116);
}
.titulo-secundario {
    font-family: 'Montserrat ExtraBold';
    font-size: em(48);
}
.texto-normal {
    font-family: 'Montserrat Medium';
    font-size: em(14);
}