@import '_reset';

* {
	box-sizing: border-box;
}
@import '_colors';
@import '_fonts';
@import '_components';

.container{
	max-width: 1200px;
	display: flex;
	margin: 0 auto;
}
body{
	background: url('../img/bg.svg') no-repeat;
	background-size: cover;
	height: 100vh;
}
.header{
	padding: 36px 0 0 73px;
	align-items: center;
	justify-content: center;
	.header-logo{
		flex:1;
	}
	.menu-header{
			li{
				display: inline-block;
				font-family: 'Montserrat Medium';
				font-size: em(16);
				flex: 1;
				margin-right: 46px;
				&:nth-last-child(1){
					margin-right: 0;
				}
				a{
					text-decoration: none;
					color: $dark-gray;
					padding: 10px;
					border: 2px solid rgba(255,255,255,0);
					transition: all .8s;
					&:hover{
						
						border: 2px solid rgba(88,87,87,1);
						
					}
				}
			}
	}
}

.intro{
	display: flex;
	.intro-chamada {
		max-width: 685px;
    	display: flex;
		flex-direction: column;
		padding-left: 76px;
		padding-top: 79px;
		h1{
			line-height: 1.3em;
			color: $dark-blue;
		}
		p{
			max-width: 413px;
			margin-top: 10px;
			line-height: em(30);

		}
		a{
			margin-top: 19px;
		}
	}
	.intro-personagem{
		padding: 79px 0 143px 46px;
		img{
			display: block;
			width: 340px;
		}
	}
}

.nossas-solucoes{

	display: flex;
	flex-direction: column;
	text-align: center;
	h2{
		color: $ligth-gray;
	}
	h3{
		color:$dark-blue;
		margin-bottom: 20px;
	}
	p{
		line-height: em(30);
		color:$gray;
		
	}
	.solucoes{
		margin-top: 54px;
		margin-bottom: 54px;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			li{
				margin-right: 30px;
				height: 358px;
				width: 308px;
				background: url('../img/poligono_bg_solucoes.svg') no-repeat;
				background-size:contain;
				background-position:  center center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&:nth-last-child(1){
					margin-right: 0;
				}
				&:first-child{
					h4{
						margin: 29px 0 15px 0;
					}
				}
				h4{
					font-family: 'Montserrat ExtraBold';
					font-size: em(18);
					color: $dark-blue;
					max-width: 214px;
					margin: 34px 0 15px 0;

					
				}
				p{
					font-family: 'Montserrat Medium';
					font-size: em(12);
					max-width: 204px;
				}
				img{
					width:70px;
				}
			}
		}
	}
	.estrofe-nossas-solucoes{
		font-family: 'Montserrat Medium';
		font-size: em(14);
	}
}