@import '_reset';

* {
	box-sizing: border-box;
}
@import '_colors';
@import '_fonts';
@import '_components';

.container{
	max-width: 1200px;
	display: flex;
	margin: 0 auto;
}
body{
	background: url('../img/bg.png') no-repeat;
	background-size: cover;
	height: 100vh;
}

@import './sections/header';
@import './sections/intro';
@import './sections/about';
@import './sections/solutions';
@import './sections/projects';
@import './sections/blog';






